# Ignorar node_modules
node_modules/

# Ignorar archivo .env
.env

# Ignorar logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Ignorar archivos de compilación
dist/
build/
